<div class="border border-dark rounded iac">
  <div class="row container">

    <div class="col-6 text-center">
      <img
        src="https://naurua.com/img/iac-logo.jpg"
        alt="IAC logo"
        width="50%"
        class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
      />
    </div>

    <div class="col-6 ">
      <h2><u> Técnico en Reparación y Armado de PC </u></h2>
      <h3>Instituto Argentino de Computación</h3>
      <p>Curso realizado entre los años 1999 y 2000</p>
    </div>
  </div>


</div>
