<div class="border border-dark rounded iac">


                <img
                  src="https://naurua.com/img/iac-logo.jpg"
                  alt="IAC logo"
                  width="20%"
                  class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
                />
                <h2><u> Técnico en Reparacion y Armado de PC </u></h2>
                <h3>Instituto Argentino de Computación</h3>
                <p>Curso realizado entre los años 1999 y 2000</p>

                <img
                  src="https://naurua.com/img/iac-logo.jpg"
                  alt="IAC logo"
                  width="20%"
                  class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
                />
                <h2><u> Usuario Avanzado de Office </u></h2>
                <h3>Instituto Argentino de Computación</h3>
                <p>Curso realizado entre los años 2000 y 2001</p>
              </div>
