<div class="border border-dark rounded iac2">


  <div class="row container">

    <div class="col-6 text-end">
      <h2><u> Usuario Avanzado de Office </u></h2>
      <h3>Instituto Argentino de Computación</h3>
      <p>Curso realizado entre los años 2000 y 2001</p>
    </div>

    <div class="col-6 text-center">
      <img
      src="https://naurua.com/img/iac-logo.jpg"
      alt="IAC logo"
      width="50%"
      class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
    />
    </div>


</div>
