<div class="border border-dark rounded intereses">
  <h2> <u> Intereses</u> </h2>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img  src="../../../../assets/el caballero de la armadura oxidad 320x500.jpg"
            alt="caballero armadura oxidada">
            <h4>El caballero de la Armadura Oxidada</h4>
    </div>
    <div class="col-6">
        <img  src="../../../../assets/muchas vidas muchos maestros 324x500.jpg"
              alt="Muchas vidas Muchos maestros">
              <h4>Muchas Vidas Muchos Maestros</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <h4>Otra Cosa que me gusta</h4>
    </div>
    <div class="col-6">
        <h4>Otra cosa que me gusta</h4>
    </div>
  </div>
</div>


</div>
