<div class="border border-dark rounded intereses">
  <h2> <u> Intereses</u> </h2>
<div class="container">
  <div class="row ">
    <div class="col-6 text-center ">
      <img  src="../../../../assets/el caballero de la armadura oxidad 320x500.jpg"
            alt="caballero armadura oxidada"
            class="img-thumbnail img-fluid rounded-circle img">
            <h6>El caballero de la Armadura Oxidada</h6>
    </div>
    <div class="col-6 text-center">
        <img  src="../../../../assets/muchas vidas muchos maestros 324x500.jpg"
              alt="Muchas vidas Muchos maestros"
              class="img-thumbnail img-fluid rounded-circle img">
              <h6>Muchas Vidas Muchos Maestros</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <img  src="https://m.media-amazon.com/images/I/41hFapubIWL.jpg"
            alt="El arte de Soplar las Brasas"
            class="img-thumbnail img-fluid rounded-circle img">
        <h6>El arte de Soplar las Brasas</h6>
    </div>
    <div class="col-6 text-center">
      <img  src="https://images-na.ssl-images-amazon.com/images/I/81ujF1dvgYL.jpg"
            alt="¿Quién se ha Llevado mi Queso?"
            class="img-thumbnail img-fluid rounded-circle img">
        <h6>¿Quién se ha Llevado mi Queso?</h6>
    </div>
  </div>
</div>


</div>
