<button data-toggle="collapse" aria-expanded="false"
        aria-controls="contenido" data-target="#contenido"
        class="btn btn-success"
         > Menu </button>

<div class="collapse" id="contenido">
  <div class="card card-body">
    contenido a mostrar
    <!--<ul class="list-unstyled" >
      <li><a href="" >Inicio</a></li>
      <li><a href="" >Portada</a></li>
      <li><a href="" >Datos Personales</a></li>
      <li><a href="" >Datos de Estudio</a></li>
      <li><a href="" >Experiencia</a></li>
      <li><a href="" >Apreciaciones</a></li>
    </ul>-->
  </div>>
</div>
