<div class="border border-dark rounded yoprogramo">



  <div class="row container">


    <div class="col-6 text-end">
      <h2><u> Desarrollo Web Full Stack </u></h2>
  <h3>Ministerio de Desarrollo Productivo Argentina</h3>
  <p>Curso realizado en el año 2022</p>

    </div>
    <div class="col-6 text-center">
      <img
    src="../../../../../assets/AP logo 2.png"
    alt="yo/programo logo"
    width="50%"
    class="img-thumbnail img-fluid rounded-circle mx-auto db-block"

  />
    </div>


</div>
