<div class="border border-dark rounded datosdeestudio">
  <img
    src="../../../../../assets/AP logo 2.png"
    alt="IAC logo"
    width="20%"
    class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
  />
  <h2><u> Desarrollo Web Full Stack </u></h2>
  <h3>Ministerio de Desarrollo Productivo Argentina</h3>
  <p>Curso realizado en el año 2022</p>
  <p>El curso abarco: <br>HTML5 <br>Css <br>Angular <br>Base de Datos (My SQL)
    <br>Java <br>Programación con Java <br>Spring Boot <br>DevOps</p>
</div>
