<div class="border border-dark rounded apreciaciones" id="habilidades" >
  <h2> <u> Habilidades Duras y Blandas</u> </h2>
  <br>
<div class="row ">
  <div class="col-md-3 text-center">
      <!-- Diseño de la Barra Circular -->
  <circle-progress
  [percent]="65"
  [maxPercent]="100"
  [toFixed]="0"
  [showTitle]="true"
  [showUnits]="true"
  [showSubtitle]="true"
  [showBackground]="true"
  [clockwise]="true"
  [showZeroOuterStroke]="true"
  [radius]="60"
  [backgroundPadding]="10"
  [backgroundGradient]="true"
  [backgroundOpacity]="1"
  [backgroundColor]=" '#ffffff' "
  [backgroundGradientStopColor]="'#c0c0c0'"
  [outerStrokeColor]="'#61A9dc'"
  [backgroundStroke]="'false'"
  [outerStrokeGradientStopColor]="'transparent'"
  innerStrokeColor="#c7e596"
  [titleColor]="'#444444'"
  [unitsColor]="'#444444'"
  [subtitleColor]="'#444444'"
  [outerStrokeWidth]="10"
  [space]="4"
  [innerStrokeWidth]="0"
  [backgroundStrokeWidth]="0"
  [outerStrokeLinecap]="'rounded'"
  [titleFontSize]="'20'"
  [unitsFontSize]="'10'"
  [subtitleFontSize]="'10'"
  [titleFontWeight]="'normal'"
  [unitsFontWeight]="'normal'"
  [subtitleFontWeight]="'normal'"
  [animation]="true"
  [animateTitle]="true"
  [animationDuration]="900"

></circle-progress>
    <div class="row text-center">
      <h6>Java</h6>
    </div>
  </div>
  <div class="col-md-3 text-center">
<!-- Diseño de la Barra Circular -->
<circle-progress
[percent]="65"
[maxPercent]="100"
[toFixed]="0"
[showTitle]="true"
[showUnits]="true"
[showSubtitle]="true"
[showBackground]="true"
[clockwise]="true"
[showZeroOuterStroke]="true"
[radius]="60"
[backgroundPadding]="10"
[backgroundGradient]="true"
[backgroundOpacity]="1"
[backgroundColor]=" '#ffffff' "
[backgroundGradientStopColor]="'#c0c0c0'"
[outerStrokeColor]="'#61A9dc'"
[backgroundStroke]="'false'"
[outerStrokeGradientStopColor]="'transparent'"
innerStrokeColor="#c7e596"
[titleColor]="'#444444'"
[unitsColor]="'#444444'"
[subtitleColor]="'#444444'"
[outerStrokeWidth]="10"
[space]="4"
[innerStrokeWidth]="0"
[backgroundStrokeWidth]="0"
[outerStrokeLinecap]="'rounded'"
[titleFontSize]="'20'"
[unitsFontSize]="'10'"
[subtitleFontSize]="'10'"
[titleFontWeight]="'normal'"
[unitsFontWeight]="'normal'"
[subtitleFontWeight]="'normal'"
[animation]="true"
[animateTitle]="true"
[animationDuration]="900"

></circle-progress>
    <div class="row text-center">
      <h6>MySql</h6>
    </div>
  </div>
  <div class="col-md-3 text-center">
<!-- Diseño de la Barra Circular -->
<circle-progress
[percent]="65"
[maxPercent]="100"
[toFixed]="0"
[showTitle]="true"
[showUnits]="true"
[showSubtitle]="true"
[showBackground]="true"
[clockwise]="true"
[showZeroOuterStroke]="true"
[radius]="60"
[backgroundPadding]="10"
[backgroundGradient]="true"
[backgroundOpacity]="1"
[backgroundColor]=" '#ffffff' "
[backgroundGradientStopColor]="'#c0c0c0'"
[outerStrokeColor]="'#61A9dc'"
[backgroundStroke]="'false'"
[outerStrokeGradientStopColor]="'transparent'"
innerStrokeColor="#c7e596"
[titleColor]="'#444444'"
[unitsColor]="'#444444'"
[subtitleColor]="'#444444'"
[outerStrokeWidth]="10"
[space]="4"
[innerStrokeWidth]="0"
[backgroundStrokeWidth]="0"
[outerStrokeLinecap]="'rounded'"
[titleFontSize]="'20'"
[unitsFontSize]="'10'"
[subtitleFontSize]="'10'"
[titleFontWeight]="'normal'"
[unitsFontWeight]="'normal'"
[subtitleFontWeight]="'normal'"
[animation]="true"
[animateTitle]="true"
[animationDuration]="900"

></circle-progress>
    <div class="row text-center">
      <h6>Trabajo Grupal</h6>
    </div>
  </div>
  <div class="col-md-3 text-center">
<!-- Diseño de la Barra Circular -->
<circle-progress
[percent]="65"
[maxPercent]="100"
[toFixed]="0"
[showTitle]="true"
[showUnits]="true"
[showSubtitle]="true"
[showBackground]="true"
[clockwise]="true"
[showZeroOuterStroke]="true"
[radius]="60"
[backgroundPadding]="10"
[backgroundGradient]="true"
[backgroundOpacity]="1"
[backgroundColor]=" '#ffffff' "
[backgroundGradientStopColor]="'#c0c0c0'"
[outerStrokeColor]="'#61A9dc'"
[backgroundStroke]="'false'"
[outerStrokeGradientStopColor]="'transparent'"
innerStrokeColor="#c7e596"
[titleColor]="'#444444'"
[unitsColor]="'#444444'"
[subtitleColor]="'#444444'"
[outerStrokeWidth]="10"
[space]="4"
[innerStrokeWidth]="0"
[backgroundStrokeWidth]="0"
[outerStrokeLinecap]="'rounded'"
[titleFontSize]="'20'"
[unitsFontSize]="'10'"
[subtitleFontSize]="'10'"
[titleFontWeight]="'normal'"
[unitsFontWeight]="'normal'"
[subtitleFontWeight]="'normal'"
[animation]="true"
[animateTitle]="true"
[animationDuration]="900"

></circle-progress>
    <div class="row text-center">
      <h6>Comunicación</h6>
    </div>
  </div>


</div>

</div>
