<div id="acercademi">
  <h3>Acerca de Mi</h3>
  <p>
    Me considero una persona activa, siempre estoy buscando algo para realizar, tratando
    de buscar o crear algun proyecto. <br>
    Soy positivo, siempre tratando de ver el vaso medio lleno, pero realista, reconociendo
    la parte del vaso media vacia. <br>
    Me gusta trabajar en equipo, creo que es la mejor forma de encarar cualquier proyecto,
    tanto laboral como personal.  Es la forma de trabajo de la nueva era. <br>
    Cuando me involucro con algun proyecto, soy muy apasionado, me gusta poner todas mis
    ganas en lo que esoty haciendo, preguntando en caso de no saber e incluso investigando
    para aprender. <br>
    No me dan miedo las cosas nuevas, tecnologias, proyectos, ideas.  Siempre estoy abierto
    a lo nuevo. <br>
    Uno de mis puntos más débiles, es que soy impaciente cuando las cosas se repiten más de
    tres veces.
  </p>

</div>
