<div class="border border-dark rounded argprograma">

<div class="row container">
  <div class="col-6 text-center">
    <img
    src="../../../../../assets/logo Arg-programa.png"
    alt="Arg-Programa logo"
    width="50%"
    class="img-thumbnail img-fluid rounded-circle mx-auto db-block" />

  </div>
  <div class="col-6">
    <h2><u> Iniciación a la Programación </u></h2>
    <h3>Ministerio de Desarrollo Productivo Argentina</h3>
    <p>Curso realizado en el año 2021</p>
  </div>
</div>
</div>



