<div class="border border-dark rounded argprograma">
                <img
                  src="../../../../../assets/logo Arg-programa.png"
                  alt="IAC logo"
                  width="20%"
                  class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
                />
                <h2><u> Iniciación a la Programación </u></h2>
                <h3>Ministerio de Desarrollo Productivo Argentina</h3>
                <p>Curso realizado en el año 2021</p>

              </div>
