<div class="border border-dark rounded secundaria" id="educacion">

  <div class="row container">
    <div class="col-6 text-end">
      <h2><u> Técnico Aeronáutico </u></h2>
      <h3>Escuela Técnica 4-106 IV Brigada Aérea</h3>
      <p>Estudios terminado en el año 1999</p>

    </div>
    <div class="col-6 text-center">
      <img
    src="https://sites.google.com/site/escuela4106/_/rsrc/1291720717547/config/customLogo.gif?revision=2"
    alt="Logo Esc 4-106"
    width="100px"
    class="img-fluid rounded-circle db-block"
  />
    </div>
  </div>


</div>
